<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<!-- <link rel="stylesheet" href="style.css" /> -->
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>Welcome to the To-Do App</h1>

		<div class="links">
			<a class="btn1" href="/signup">Sign Up</a>
			<a class="btn2" href="/login">Log In</a>
		</div>
	</body>
</html>
