<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<!-- <link rel="stylesheet" href="style.css" /> -->
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>Welcome to your ToDo App</h1>
		<p>
			"Let's get organized and conquer your to-do list, one step at a time!"
		</p>

		<div class="links">
			<a class="btn1" href="/signup">Sign Up</a>
			<a class="btn2" href="/login">Log In</a>
		</div>
	</body>
</html>
